@font-face {
    font-family: 'NotoSans';
    src: url('NotoSans.ttf');
}

@font-face {
    font-family: 'NotoSans Bold';
    src: url('NotoSans-Bold.ttf');
}
@font-face {
    font-family: 'NotoSans Light';
    src: url('NotoSans-Light.ttf');
}

@font-face {
    font-family: 'NotoSans SemiBold';
    src: url('NotoSans-SemiBold.ttf');
}

@font-face {
    font-family: 'DW TheAntiquaB';
    src: url('DWTheAntiquaB-W6SemiBold.otf');
}




body {
    font-family: NotoSans;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /*fill: #4B545c;*/
}

path {
    opacity: 0;
}

.container {
    margin: 0 auto;
    width: 800px;
    background-color: white;
    height: 100%;
}

svg{
   transform: translateY(2px);
}

p.intro-text {
    font-size: 22px;
    line-height: 28px;
    color: #4B545c;
}

.button {
    fill: #d8dde2;
    font-family: NotoSans;
    padding-bottom: 20px;
}

.button:hover {
    fill: #002D5A;
}


.tick{
    font-size: 12px;
    font-family: "NotoSans", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    line-height: 1.4;
    font-weight: 500;
font-style: normal;
letter-spacing: 0.2px;
}

#idTick2 ,#idTick3 ,#idTick7, #idTick8{
    -ms-transform: translateY(13px);
    -webkit-transform: translateY(13px);
    -moz-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
}

#idTick0 ,#idTick1 ,#idTick5, #idTick6{
    -ms-transform: translateY(7px);
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
}


.selected {
    fill: white;
}

.selected:hover {
    fill: white !important;
}



.button.active{
    fill: white;
}

.panel {
    padding-top: 40px;
}

.infoHeading {
    color: #002D5A;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-family: NotoSans;
    padding-bottom: 18px;
}

.infoSubhead {
    color: #4B545c;
    font-family: NotoSans;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 1.5;
    font-weight: 700;
    padding-top: 18px;
}

.infoText {
    color: #4B545c;
    font-family: NotoSans;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
}

img.chart {
    display: inline-block;
    float: left;
    margin-right: 25px;
    margin-bottom: 45px;
}

.charts{
    padding-top:50px;
}

.chart {
    vertical-align: top;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #002D5A;
    font-size: 16px;
    font-family: NotoSans;
}


.chartDesc {
    color: #4B545c;
    font-size: 15px;
    margin-top: 8px;
    margin-top: 10px;
    margin: 0 auto;
    font-family: NotoSans;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 1.5;
    word-wrap: break-word;
    margin-right: 20px;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    margin-top: -5;
}
}