@font-face {
    font-family: 'NotoSans';
    src: url('NotoSans.ttf');
}

@font-face {
    font-family: 'NotoSans Bold';
    src: url('NotoSans-Bold.ttf');
}
@font-face {
    font-family: 'NotoSans Light';
    src: url('NotoSans-Light.ttf');
}

@font-face {
    font-family: 'NotoSans SemiBold';
    src: url('NotoSans-SemiBold.ttf');
}

@font-face {
    font-family: 'DW TheAntiquaB';
    src: url('DWTheAntiquaB-W6SemiBold.otf');
}




body {
    font-family: NotoSans;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

path {
    opacity: 0;
}

.container {
    margin: 0 auto;
    width: 800px;
    background-color: white;
    height: 100%;
}

svg{
   transform: translateY(2px);
}

p.intro-text {
    font-size: 22px;
    line-height: 28px;
    color: #1D1D1B;
}

.button {
    fill: #d8dde2;
    font-family: Noto Sans;
}

.button:hover {
    fill: #002D5A;
}

.button:hover .tick{
fill: white;
}

.tick{
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 600;
    fill: #4b545c;
}

#idTick2 ,#idTick3 ,#idTick7, #idTick8{
    transform: translateY(22%);
    -ms-transform: translateY (22%);
    -webkit-transform: translateY (22%);
    -moz-transform: translateY (22%);
    -o-transform: translateY (22%)
}

#idTick0 ,#idTick1 ,#idTick5, #idTick6{
    transform: translateY(12%);
    -ms-transform: translateY (12%);
    -webkit-transform: translateY (12%);
    -moz-transform: translateY (12%);
    -o-transform: translateY (12%);
}


.selected {
    fill: white;
}

.button.active{
    fill: white;
}

.panel {
    padding-top: 40px;
}

.infoHeading {
    color: #002D5A;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-family: Noto Sans;
    padding-bottom: 18px;
}

.infoSubhead {
    color: #4B545c;
    font-family: NotoSans SemiBold;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 1.5;
    font-weight: 700;
    padding-top: 18px;
}

.infoText {
    color: #4B545c;
    font-family: NotoSans;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

img.chart {
    display: inline-block;
    float: left;
    margin-right: 25px;
    margin-bottom: 45px;
}

.charts{
    padding-top:50px;
}

.chart {
    vertical-align: top;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #002D5A;
    font-size: 16px;
    font-family: NotoSans;
}


.chartDesc {
    color: #4B545c;
    font-size: 15px;
    margin-top: 8px;
    margin-top: 10px;
    margin: 0 auto;
    font-family: NotoSans;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 1.5;
    word-wrap: break-word;
    margin-right: 20px;
}